
<% layout('layouts/boiler') %>
    <script>
            let token = "<%=mapToken%>";
            const geo = "<%-JSON.stringify(data.coordinate.coordinates)%>";
            let loc = "<%=data.location%>"; 
    </script>

    <h1 class="card-title"><%=data.title%></h1>
    <div class="card-details d-flex justify-content-center align-items-center flex-column mt-3">
        <img src="<%=data.image.url%>" class="card-img-top-details" alt="Listing Image">
        
       <div class="card-pricing-and-data d-flex align-items-center">
            <div class="card-body ">
                <h5 class="card-title"> Hosted by <%=data.owner.username%></h5>
                <hr class="line">
                <p> Location : <%=data.location%></p>
                <p class="card-text"> About : <%=data.description%></p>
                <p> Country : <%=data.country%></p>
                <%if(currentuser && currentuser._id.equals(data.owner._id)){%>
                <div class="details-btns mb-5">
                    <a href="/listing/edit/<%= data._id%>">
                        <button class="btn btn-primary"> Edit </button>
                    </a>
                    <form method="post" action="/listing/delete/<%=data._id%>?_method=delete">
                        <button type="submit" class="btn btn-primary"> delete this post </button>
                    </form>
                </div>
                <%}%>
                
            </div>
            <div class="card-details-booking ms-5 mb-5">
                <B><p> &#8377 <%=data.price.toLocaleString("en-IN")%>/Night</p></B>
                <form class="details-booking" action="/listing/details/<%=data._id%>/booking" method="post">
                <div class="mb-3">
                    <input type="number" class="form-control" id="guests" name="guests" min="1" max="10" required placeholder="No. of guests">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                    <input type="date" class="form-control" name="checkIn">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                    <input type="date" class="form-control" name="checkOut">
                </div>
                <button class="btn btn-primary w-100" type="submit">Check availibiltiy</button>
                </form>
            </div>
        </div>
    </div>
   
    <div class="breathingroom30px mt-3 mb"></div>
     <hr class="line mb-3">
        <%if(data.review.length > 0){%>
        <div class="showcomments">
            <h1 > Reviews </h1>
                <div class="row row-cols-2 g-3 mb-5 mt-4">
                    <% for(review of data.review){%>
                        <div class="col">
                            <div class="reviewcard">
                                <div class="reviewcardhead">
                                    <h4 class="reviewcardname ms-2"> <%=review.author.username%></h4>
                                        <div class="reviewstarts">
                                        <p class="starability-result" data-rating= "<%= review.rating%>"></p>
                                        </div>
                                </div>
                                <div class="reviewcardbody">
                                    <p class="card-text"><%=review.review%></p>
                                    <h6 class="revdate">Posted on : <%=review.date.toISOString().split('T')[0]%></h6>
                                    <%if(currentuser && currentuser._id.equals(review.author._id)){%>
                                    <form method="post" action="/listing/delete/<%=data._id%>/review/<%=review._id%>?_method=delete">
                                        <button type="submit" class="btn btn-primary"> delete </button>
                                    </form>
                                    <%}%> 
                                </div>
                            </div>
                        </div>
                    <%}%>
            </div>
        </div>
    <%}%>
 
    <div class="breathingroom mt-3 mb"></div>
   
    
    <%if(currentuser){%>
    <div class="postcomment col-6 offset-3">
        <div class="review d-flex flex-column">
            <h1> Leave a review </h1>
            <form method="post" action="/listing/details/<%=data._id%>/review">
                <fieldset class="starability-checkmark mt-2">
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
                <div class="form-floating mb-3">
                    <textarea class="form-control"  placeholder="Leave a comment here" name="review" id="floatingTextarea2" style= "width:700px; height: 200px" ></textarea>
                    <label for="floatingTextarea2">Review</label>
                </div>
                <button class="btn btn-primary mb-3" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <%}%>
    <div class="breathingroom mt-3 mb"></div>
    
        
    <h1 > Where you'll be</h1>
    <div class="map">
        <div id="map" class= "mb-3 mt-3"></div>
    </div>
    <script src="/js/map.js"></script>



